.section_footer{
    height:850px;
    width:100%;
    display:flex;
}
.footer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
}
.container_footer{
    height:60%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}
.row_footer{
    width:78%;
    height:60%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.col_footer1{
    width: 31.5%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.text_col_footer1{
    color:black;
    font-size: 35px;
    font-weight: bold;
}
.content_col_footer1{
    color:#615e5e;
    font-size: 20px;
}
.contact_col_footer1{
    display:flex;
    flex-direction:column;
}
.contact{
    display:flex;
    flex-direction:row;
}
.text_contact{
    margin-right: 10px;
    color:#b09b5f;
    font-size: 20px;
    font-weight: bold;
}
.number_contact{
    color:#615e5e;
    font-size: 20px;
}
.text_bottom{
    color:#b09b5f;
    font-size: 20px;
}
.col_footer2, .col_footer3 , .col_footer4{
    width:18%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.col_footer2{
    list-style-type: circle;
}
.col_footer3, .col_footer4{
    list-style-type: none;
}
.col_footer4{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.col_footer3 li a, .col_footer2 li a, .col_footer4 li a{
    font-size: 30px;
}
.text_col_footer2{
    color:black;
    font-size: 30px;
    font-weight: bold;
}
.col_footer2 li a, .col_footer3 li a, .col_footer4 li a{
    color:#615e5e;
    font-size:20px;
    text-decoration: none;
}
.row_footer2{
    width:78%;
    height: 20%;
    display:flex;
    flex-direction:row;
    justify-content:start;
    border-top:1px solid #615e5e;
}
.col_footer{
    width:100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.col_item_footer2{
    display:flex;
    flex-direction:row;
}
.col_item_footer2 div{
    font-size: 30px;
}
.col_item_footer2 div b{
    color: #b09b5f;
}
.col_item_footer2  li {
    list-style-type: none;
    border-radius: 17.5px;
    height: 35px;
    width:35px;
    border:1px solid #b09b5f;
    margin-left: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.col_item_footer2  li a{
    text-decoration: none;
}
.col_item_footer2  li a i{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    color:#b09b5f;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section_footer{
        height:265.625px;
    }
    .text_col_footer1{
        font-size: 10.9375px;
    }
    .content_col_footer1{
        font-size: 6.25px;
    }
    .text_contact{
        margin-right: 3.125px;
        font-size: 6.25px;
    }
    .number_contact{
        font-size: 6.25px;
    }
    .text_bottom{
        font-size: 6.25px;
    }
    .col_footer3 li a, .col_footer2 li a, .col_footer4 li a{
        font-size: 9.375px;
    }
    .text_col_footer2{
        font-size: 9.375px;
    }
    .col_footer2 li a, .col_footer3 li a, .col_footer4 li a{
        font-size:6.25px;
    }
    .row_footer2{
        border-top:3.125px solid #615e5e;
    }
    .col_item_footer2 div{
        font-size: 9.375px;
    }
    .col_item_footer2  li {
        list-style-type: none;
        border-radius: 5.46875px;
        height: 10.9375px;
        width:10.9375px;
        border:0.3125px solid #b09b5f;
        margin-left: 3.125px;
    }
    .col_item_footer2  li a i{
        font-size:6.25px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}