.container{
    width: 1024px;
    margin: 0 auto;
}
/* phần hàng đàu */
.row_top{
    float: left;
    padding-bottom: 20px;
}
/* cột trái */
.col_left{
    float: left;
}
.col_left ul{
    list-style-type:none;
}
.col_left ul li{
    float: left;
    text-align : center;
    margin-left: 20px;
}
.col_left ul li a{
    text-decoration: none;
    font-size:12px;
    color:black; 
}
.col_left ul li a i{
    color:gold;
}
/* cột phải */
.col_right{
    padding-left: 50px;
    float: right;
}
.col_right ul{
    list-style-type: none;
}
.col_right ul li{
    float: left;
    text-align:right;
    margin-left: 40px;
}
.col_right ul li a{
    text-decoration: none;
    font-size:12px;
    color:black; 
}
/* phần hàng thứ 2  */
.row_bottom{
    clear: both;
    margin-left: 30px 30px 0px 0px;
    padding: 15px;
    height: 45px;
    background-color:rgb(1, 1, 63);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}
/* cột logo */
.col_logo{
    float: left;
    margin: 10px 10px 10px 30px;
}
.logo_page b{
    text-align: center;
    font-size: 30px;
    color:aliceblue;
}
/* cột icon */
.col_icon{
    float: left;
}
.col_icon ul{
    list-style-type: none;
}
.col_icon ul li{
    float: left;
    margin-left: 5px
}
.col_icon ul li a{
    background-color: rgb(83, 93, 153);
    margin: auto;
    width:40px;
    height : 40px;
    border-radius: 20px;
    padding: 10px;
}
.col_icon ul li a i{
    color:gainsboro;
}

/* form tìm kiếm */
.col_form{
    border: 1.5px solid rgb(143, 135, 125);
    float:left;
    width:400px;
    height : 40px;
    margin-left: 20px;
    background-color:rgb(248, 248, 255);
    border-radius: 20px;
}
/* thành phần category sẻ là 1 dropdown */
.btn_category{
    color:gainsboro;
    font-size: 12px;
    float:left;

    background-color:rgb(238, 194, 98);
    margin:auto;
    height:40px;
    width:30%;
    border:0px;
    border-radius: 20px;
    padding: 10px;
}
/* phần nd nhập chữ để tiềm kiếm */
.main_text{
    float:left;
    height:35px;
    border:none;
}
/* icon kính lúp tìm kiếm */
.icon_search{
    background-color:rgb(143, 135, 125);
    float: right;
    width:50px;
    height:40px;
    padding: 10px;
    border-radius: 20px;
}
.form_search{
    text-align:center;
    margin: 0 auto;
}
/* nút đăng nhập đăng ký */
.btn_login{
    text-align:center;
  float:right;
  height:40px;
  border-radius: 20px;
  padding: 10px;
  width:150px;
  background-color:rgb(1, 1, 63);
  font-size:12px;
  color:antiquewhite;

}
.btn_login i {
    color:gold;
}







