header{
    display:flex;
    flex-direction:column;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
/* phần hàng đàu */
.row_top{
    float: left;
    width:100%;
    height:58px;
}
/* cột trái */
.col_left{
    width: 320px;
    height:16px;
    float: left;
}
.col_left ul{
    list-style-type:none;
}
.col_left ul li{
    float: left;
    text-align : center;
    margin-left: 40px;
}
.col_left ul li a{
    text-decoration: none;
    font-size:12px;
    color:black; 
}
.col_left ul li a i{
    color:gold;
}
/* cột phải */
.col_right{
    width: 686.58px;
    height:15px;
    float: right;
}
.col_right ul{
    list-style-type: none;
}
.col_right ul li{
    float: left;
    text-align:right;
    margin-left: 40px;
}
.col_right ul li a{
    text-decoration: none;
    font-size:12px;
    color:black; 
}
/* phần hàng thứ 2  */
.row_bottom{
    clear: both;
    width: 100%;
    height: 110px;
    margin:0 auto;
    text-align:center;
    background-color:#1c2f4d;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}
.col_icon, .col_form , .col_logo, .btn_login{
    margin-top:35px;
}
/* cột logo */
.col_logo{
    height: 100%;
    width:78px;
    float: left;
    margin-left:65px;
} 
.logo_page{
    height:100%;
    width:100%;
    font-size: 24px;
    color:aliceblue;
    margin: 0 auto;
}
/* cột icon */
.col_icon{
    margin-right: 20px;

    float: right;
    height:40px;
}
.col_icon ul{
    list-style-type: none;
}
.col_icon ul li{
    float: left;
    margin-left: 2px;
}
.col_icon ul li a{
    background-color: #273956;
    height : 100%;
    padding: 10px;
    border-radius: 20px;
}
.col_icon ul li a i{
    color:gainsboro;
}

/* form tìm kiếm */
.col_form{
    margin-right: 20px;
    border: 2px solid #909090;
    float:right;
    width:512px;
    height : 40px;
    background-color:rgb(248, 248, 255);
    border-radius: 20px;
}
/* thành phần category sẻ là 1 dropdown */
.btn_category{
    color:gainsboro;
    font-size: 14px;
    float:left;

    background-color:#d7bd73;
    height:40px;
    width:30%;
    border:none;
    border-radius: 20px;
}
/* phần nd nhập chữ để tiềm kiếm */
.main_text{
    float:left;
    width:300px;
    height:35px;
    border:none;
    color:rgb(255, 255, 255);
    background-color:transparent;
}
/* icon kính lúp tìm kiếm */
.icon_search{
    background-color:#909090;
    border:none;
    float: right;
    width:45px;
    height:40px;
    border-radius: 20px;
}
.form_search{
    text-align:center;
    margin: 0 auto;
    
}
.col_form{
    background-color:transparent;
}
/* nút đăng nhập đăng ký */
.btn_login{
  text-align:center;
  float:right;
  height:40px;
  border-radius: 20px;
  padding: 10px;
  width:200px;
  background-color:transparent;
  font-size:14px;
  color:antiquewhite;
  border: 1px solid aliceblue;
  margin-right:65px;

}
.btn_login i {
    color:gold;
}







