section{
    display:flex;
    flex-direction:column;
}
.section_slide{
    width: 100%;
    height:670px;
    background-image: url("/image/img.jpg") ;
    background-repeat: no-repeat;
    /* position:absolute;
    top:110px; */
    z-index:-1;
}
.col1_section_slide{
    margin-left: 450px;
    margin-top: 245px;
    width: 647px;
    text-align: left;
}
.text1_section_slide{
    font-size: 48px;
    color:aliceblue;
    font-weight: bold;
}
.text2_section_slide{
    color:#b09b5f;
    font-size: 20px;
}
.btn_section_slide{
    font-size:15px;
    color:aliceblue;
    width:265px;
    height:64px;
    border:2px solid #b09b5f;
    border-radius: 32px;
    background-color:transparent;
}
.section_service{
    position:static;
    width: 100%;
    height:500px;
}
.row_section_service{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.col{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
}
.img_top{
    background-image: url("/image/img_service.jpg");
    width: 200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: relative;
}
.icon{
    background-color: aliceblue;
    color: #d6bd74;
    padding: 70px;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width:56px;
    position:absolute;
    bottom: 9px;
    right:9px;
    background-color: #1c2f4d;
    border-radius: 28px;
}
.maintext_center{
    font-size: 25px;
    font-weight: bold;
}
.content_bottom{
    text-align: center;
    font-size: 20px;

}
.section_feature{
    height:800px;
    display: flex;
    flex-direction: column;
    background-image: url("/image/back_feature.jpg");
    background-repeat:no-repeat;
    background-size: 100% 500px;
    background-position: bottom;
}
.col_section_feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon_feature{
    color:#f2f2f2;
    font-size: 40px;
}
.text_feature{
    font-weight: bold;
    font-size: 40px;
}
.content_feature{
    font-size: 20px;
    color:#c4c4c4;
}
.row_section_feature_bottom{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.col_section_feature_card{
    background-color: white(245, 245, 245);
    height: 560px;
    width: 370px;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position:relative;
    background-color: white;
    margin-left: 30px;
}
.img_top_feature{
    width:100%;
    height: 300px;
    position: relative;
}
.img_top_feature img{
    width:100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.price_feature{
    font-size: 25px;
    font-weight: bold;
    color:aliceblue;
    border-radius: 15px;
    width: 85px;
    height: 75px;
    background-color: #d7bd73;
    
    position: absolute;
    bottom: 25px;
    right:32px;

    display: flex;
    align-items:center;
    justify-content: center;
}
.content_center_feature{
    margin-left: 50px;
    
}
.icon_start_feature{
    color:#d7bd73;
    font-size:15px;
}
.text_main_card{
    font-size: 25px;
    font-weight: bold;
}.conten_main_card{
    font-size: 15px;
    color:#999999;
}
.icon_start_feature, .text_main_card{
    margin-bottom: 15px;
}
.content_bottom_feature{
    margin-top: 25px;
    height:70px;
    width:100%;
    position:absolute;
    bottom:0px;
    border-top: 1px dashed #999999;

    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    position: relative;
}
.border_cicrile i{
    position: absolute;
    top: -8px;
    left: 0px;
    color: #999999;
}
.item_card_feature{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding: 20px;

}
.item_card_feature i{
    color:#d7bd73;
    font-size:15px;
    padding:10px;

}
.border_tym{
    border: 2px solid #999999;
    padding: 15px;
    border-radius: 3px;
    color:#939393;
}
.section_transform{
    width:100%;
    height:1270px;
    margin-top:100px;
}
.row_transform{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.col_transform{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}
.transform_category{
    margin:15px;
    height:270px;
    width: 570px;
}
.category_main{
    font-size:40px;
    font-weight: bold;
}
.category_content{
    font-size:20px;
    color:#939393;
}
.transform_card {
    height:270px;
    width:270px;
    margin:15px;
    position:relative;
}
.col_transform_card{
    position:relative;
    text-align: center;
    height:100%;
    width:100%;
}
.col_transform_card img{
    height:100%;
    width:100%;
}
.transform_card_text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    font-size: 30px;
    color:rgb(12, 115, 250);
}
.transform_lable{
    position:absolute;
    bottom:20px;
    right:20px;

    width:100px;
    height: 30px;
    background-color:#d5bc72;
    color:white;
    font-size:20px;
    border-radius: 4px;

}


