section{
    display:flex;
    flex-direction:column;
}
.section_slide{
    width: 100%;
    height:670px;
    background-image: url("/image/img.jpg") ;
    background-repeat: no-repeat;
}
.col1_section_slide{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
}
.text1_section_slide{
    display:flex;
    justify-content: start;
    font-size: 48px;
    color:white;
    font-weight: bold;
}
.text2_section_slide{
    display:flex;
    justify-content: start;
    color:#b09b5f;
    font-size: 20px;
}
.btn_section_slide{
    font-size:15px;
    color:white;
    width:265px;
    height:64px;
    border:2px solid #b09b5f;
    border-radius: 32px;
    background-color:transparent;
}
.section_service{
    width: 100%;
    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.row_section_service{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.col_service{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
}
.img_top{
    background-image: url("/image/img_service.jpg");
    width: 200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: relative;
}
.img_top i{
    width: 75%;
    height:75%;
    background-color: aliceblue;
    font-size: 50px;
    color: #d6bd74;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width:56px;
    position:absolute;
    bottom: 9px;
    right:9px;
    background-color: #1c2f4d;
    border-radius: 28px;
}
.maintext_center{
    font-size: 25px;
    font-weight: bold;
}
.content_bottom{
    text-align: center;
    font-size: 20px;

}
.section_feature{
    height:800px;
    display: flex;
    flex-direction: column;
    background-image: url("/image/back_feature.jpg");
    background-repeat:no-repeat;
    background-size: 100% 500px;
    background-position: bottom;
}
.col_section_feature , .col_section_recent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon_feature{
    color:#f2f2f2;
    font-size: 60px;
}
.text_feature{
    font-weight: bold;
    font-size: 40px;
}
.content_feature{
    font-size: 20px;
    color:#c4c4c4;
}
.row_section_feature_bottom{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.col_section_feature_card ,.col_section_recent_card{
    background-color: white(245, 245, 245);
    height: 560px;
    width: 370px;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position:relative;
    background-color: white;
    margin-left: 30px;
}
.img_top_feature{
    width:100%;
    height: 300px;
    position: relative;
}
.img_top_feature img{
    width:100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.price_feature{
    font-size: 25px;
    font-weight: bold;
    color:aliceblue;
    border-radius: 15px;
    width: 85px;
    height: 75px;
    background-color: #d7bd73;
    
    position: absolute;
    bottom: 25px;
    right:32px;

    display: flex;
    align-items:center;
    justify-content: center;
}
.content_center_feature{
    margin-left: 50px;
    
}
.icon_start_feature{
    color:#d7bd73;
    font-size:15px;
}
.text_main_card{
    font-size: 25px;
    font-weight: bold;
}.conten_main_card{
    font-size: 15px;
    color:#999999;
}
.icon_start_feature, .text_main_card{
    margin-bottom: 15px;
}
.content_bottom_feature{
    margin-top: 25px;
    height:70px;
    width:100%;
    position:absolute;
    bottom:0px;
    border-top: 1px dashed #999999;

    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    position: relative;
}
.border_cicrile i{
    font-size:20px;
    position: absolute;
    top: -10px;
    left: 0px;
    color: #999999;
}
.item_card_feature{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding: 20px;
    font-size: 15px;

}
.item_card_feature i{
    color:#d7bd73;
    font-size:15px;
    padding:10px;

}
.border_tym{
    border: 2px solid #999999;
    padding: 15px;
    border-radius: 3px;
}
.border_tym i{
    color:#939393;
    font-size:20px;
}
.section_transform{
    width:100%;
    height:1270px;
    background-color:#f5f8fa;
}
.row_transform1{
    margin :100px 0px 100px 0px;
}
.row_transform{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.col_transform{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}
.transform_category{
    margin:15px;
    height:270px;
    width: 570px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.category_main{
    font-size:45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.category_content{
    font-size:25px;
    color:#939393;
}
.transform_card {
    height:270px;
    width:270px;
    margin:15px;
    position:relative;
}
.col_transform_card{
    position:relative;
    text-align: center;
    height:100%;
    width:100%;
}
.col_transform_card img{
    height:100%;
    width:100%;
}
.transform_card_text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    font-size: 30px;
    color:rgb(12, 115, 250);
}
.transform_lable{
    position:absolute;
    bottom:20px;
    right:20px;

    width:100px;
    height: 30px;
    background-color:#d5bc72;
    color:white;
    font-size:20px;
    border-radius: 4px;
}
.col_trasform_subscrice{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.col_trasform_subscrice i{
    font-size:50px;
    color:#d5bc72;
}
.text_subscrice{
    font-size:40px;
    font-weight:bold;
}
.content_subscrice{
    font-size:25px;
    color:#939393;
}
.form__subscrice{
    position: relative;
}
.input_email{
    width: 745px;
    height: 70px;
    border-radius: 35px;
    border: none;
    text-align: center;
}
.btn_email{
    width: 180px;
    height: 70px;
    position: absolute;
    right:20px;
    bottom:-35px;
    background-color: #d5bc72;
    border-radius: 35px;
    font-size:20px;
    font-weight:bold;
    color:white;
    border:none;
}

.section_preview{
    width:100%;
    height: 650px;
}
.row_preview{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction:row;
}
.col_preview{
    height: 100%;
    width: 50%;
}
.col_preview1{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #1c2f4d;
}
.col_preivew1_main{

    height: 375px;
    width: 530px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    position: relative;
}
.text_preview{
    font-size:30px;
    font-weight:bold;
    color:white;
}
.icon_preview i{
    font-size:40px;
    color:#d7bd73;
}
.content_preview{
    font-size:20px;
    color:#939393;
}
.card_preview{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.card_preview1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.card_preview1 .img_privew img{
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin-right: 20px;
}
.card_preview_content{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.name_priview{
    font-size:20px;
    color:white;
}
.position_priview{
    font-size:20px;
    color:#b09b5f;
}
.card_preview1 img{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-left:10px;
    opacity:0.3;
}
.btn_prev{
    color:#b09b5f;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #b09b5f;
    position: absolute;
    bottom:-90px;
    left:-60px;
    background:none;
    font-size: 15px;

}
.btn_next{
    color:white;
    background:none ;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: none;
    position: absolute;
    bottom:-90px;
    right:-70px;
    font-size: 15px;
}
.col_preview2{
    height: 100%;
    width: 100%;
    background-image: url("/image/img.jpg");
}
.br{
    width: 100%;
    height:100%;
    background-color:black;
    opacity:0.5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.row_item_preview{
    height: 100px;
    width: 500px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.row_item_preview i{
    display:flex;
    align-items:center;
    font-size:80px;
    margin-right: 20px;
    color:#e3c058;
}
.text_row_item_priview1{
    color: white;  
    margin-bottom: 25px;  
}
.text_row_item_priview2{
    color:#939393;
}
.section_recent{
    height:1825px;
    width:100%;
    background-color: #ffffff;
}
.containe_recent{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.row_recent{
    margin-bottom: 50px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}
.col_tab_recent{
    height:70px;
    width:885px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    border-bottom:1px solid #615e5e;
    

    border-radius: 35px;
}

.col_tab_recent a{
    display:flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: bold;
    height:100%;
    margin:0px 25px 0px 25px;
}
.col_tab_recent a i{
    color:#939393;
    font-size:20px;
}
.col_tab_recent a i:hover{
    color:#e3c058;
}
.col_tab_recent a:hover{
    border-bottom:2px solid#e3c058;
}
.btn_recent{
    width:235px;
    height: 66px;
    background-color: #1c2f4d;
    border-radius: 33px;
    font-size: 15px;
    font-weight:bold;
    color:white;
}
.section_become{
    width: 1170px;
    height: 470px;
    position: absolute;
    bottom: -235px;
    right: 200px;
}
.container_become{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}
.row_become{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    background-color: #d7bd73;
}
.col_become{
    width:50%;
    height:70%;
    padding:30px;
    border-right:1px dotted white;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}
.col_become i{
    width: 105px;
    height: 105px;
    font-size: 40px;
    color:#d7bd73;
    background-color:white;
    border-radius: 52.5px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.text_become{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:385px;
}
.maintext_become{
    font-size: 35px;
    color:white;
    font-weight: bold;
}
.content_become{
    font-size: 18px;
    color:white;
}
.btn_become{
    background-color:#1c2f4d;
    height: 60px;
    width:240px;
    border-radius: 30px;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.section_provides{
    position: relative;
    height: 800px;
    width:100%;
    background-image: url("/image/img.jpg");
}
.container_provides,.row_provides{
    height: 100%;
    width:100%;
}
.row_provides{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.col_provides{
    width:740px;
    height: 385px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    text-align:center;
}
.text_provides{
    font-size: 65px;
    color: white;
}
.content_provides{
    color:#c4c4c4;
    font-size: 25px;
}
.btn_provides{
    width:290px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 15px;
    font-weight: bold;
    background:none;
    color: white;
}
@media only screen and (max-width: 600px) {

    .section_slide{
        height:210px;
    }
    .text1_section_slide{
        font-size: 15px;
    }
    .text2_section_slide{
        font-size: 6.5px;
    }
    .btn_section_slide{
        font-size:4.6875px;
        width:82px;
        height:20px;
        border-radius: 10px;
    }

    .section_service{
        height:156.25px;
    }
    .col_service{
        width: 100.8px;
        height: 100.8px;
    }
    .img_top{
        width: 62.5px;
        height:62.5px;
        border-radius: 31.25px;
    }
    .img_top i{
        font-size: 15.625px;
    }
    .stt{
        height: 17.5px;
        width:17.5px;
        bottom: 2.8125px;
        right:2.8125px;
        border-radius: 8.75px;
    }
    .maintext_center{
        font-size: 7.8125px;
    }
    .content_bottom{
        font-size: 6.25px;
    }
    .section_feature{
        height:250px;
        background-size: 100% 156.25px;
    }
    .icon_feature{
        font-size: 18.75px;
    }
    .text_feature{
        font-size: 12.5px;
    }
    .content_feature{
        font-size: 6.25px;
    }
    .row_section_feature_bottom{
        margin-top: 9.375px;
    }
    .col_section_feature_card ,.col_section_recent_card{
        background-color: white(245, 245, 245);
        height: 175px;
        width: 115.625px;
        border-radius: 1.5625px;
        margin-left: 9.375px;
    }
    .img_top_feature{
        height: 93.75px;
    }
    .img_top_feature img{
        height: 75px;
        border-top-left-radius: 1.5625px;
        border-top-right-radius: 1.5625px;
    }
    .price_feature{
        font-size: 7.8125px;
        border-radius: 4.6875px;
        width: 26.5625px;
        height: 23.4375px;
        bottom: 7.8125px;
        right:10px;
    }
    .content_center_feature{
        margin-left: 15.625px;
        
    }
    .icon_start_feature{
        font-size:4.6875px;
    }
    .text_main_card{
        font-size: 7.8125px;
    }
    .conten_main_card{
        font-size: 4.6875px;
    }
    .icon_start_feature, .text_main_card{
        margin-bottom: 4.6875px;
    }
    .content_bottom_feature{
        margin-top: 7.8125px;
        height: 21.875px;
        border-top: 0.3125px dashed #999999;
    }
    .border_cicrile i{
        font-size:6.25px;
        top: -3.125px;
    }
    .item_card_feature{
        padding:6.25px;
        font-size: 4.6875px;
    }
    .item_card_feature i{
        font-size:4.6875px;
        padding:3.125px;
    }
    .border_tym{
        border: none;
        padding: 0px;
        border-radius: 0.9375px;
    }
    .border_tym i{
        font-size:6.25px;
    }
    .section_transform{
        height:396.875px;
    }
    .row_transform1{
        margin :31.25px 0px 31.25px 0px;
    }
    .transform_category{
        margin:4.6875px;
        height:84.375px;
        width: 178.125px;
    }
    .category_main{
        font-size:14.0625px;
        margin-bottom: 6.25px;
    }
    .category_content{
        font-size:7.8125px;
    }
    .transform_card {
        height:84.375px;
        width:84.375px;
        margin: 4.6875;
    }
    .transform_card_text{
        font-size: 9.375px;
    }
    .transform_lable{
        bottom:6.25px;
        right:6.25px;

        width:31.25px;
        height: 9.375px;
        font-size:6.25px;
        border-radius: 1.25px;
    }
    .col_trasform_subscrice i{
        font-size:15.625px;
    }
    .text_subscrice{
        font-size:12.5px;
    }
    .content_subscrice{
        font-size:7.8125px;
    }
    .input_email{
        width: 232.8125px;
        height: 21.875px;
        border-radius: 10.9375px;
    }
    .btn_email{
        width: 56.25px;
        height: 21.875px;
        
        right:6.25px;
        bottom:-10.9375px;
        border-radius: 10.9375px;
        font-size:6.25px;
    }
    .section_preview{
        height: 203.125px;
    }
    .col_preivew1_main{

        height: 117.1875px;
        width: 165.625px;
    }
    .text_preview{
        font-size:9.375px;
    }
    .content_preview{
        font-size:6.25px;
    }
    .card_preview1 .img_privew img{
        height: 15.625px;
        width: 15.625px;
        border-radius:7.8125px;
        margin-right: 6.25px;
    }
    .name_priview ,.position_priview{
        font-size:6.25px;
    }
    .card_preview1 img{
        height: 11.25px;
        width: 11.25px;
        border-radius: 5.625px;
        margin-left:3.125px;
    }
    .btn_prev{
        height: 15.625px;
        width: 15.625px;
        border-radius: 15.625px;
        border: 0.625px solid #b09b5f;
        bottom:-28.125px;
        left:-18.75px;
        font-size: 4.6875px;
    }
    .btn_next{
        height: 15.625px;
        width: 15.625px;
        border-radius: 15.625px;
        bottom:-28.125px;
        right:-21.875px;
        font-size: 4.6875px;
    }
    .row_item_preview{
        height: 31.25px;
        width: 156.25px;
        margin-bottom: 9.375px;
    }
    .row_item_preview i{
        font-size:25px;
        margin-right: 5.25px;
    }
    .text_row_item_priview1{
        margin-bottom: 7.8125px; 
    }
    .section_recent{
        height:570.3125px;
    }
    .row_recent{
        margin-bottom: 15.625px;
    }
    .col_tab_recent{
        height:21.875px;
        width:276.5625px;
        border-bottom:0.3125px solid #615e5e;
        border-radius: 10.9375px;
    }
    .col_tab_recent a{
        font-size: 6.25px;
        margin:0px 7.8125px 0px 7.8125px;
    }
    .col_tab_recent a i{
        font-size:6.25px;}
    .col_tab_recent a:hover{
        border-bottom:0.625px solid#e3c058;
    }
    .btn_recent{
        width:73.4375px;
        height: 20.625px;
        border-radius: 10.3125px;
        font-size: 4.6875px;
    }
    .section_become{
        width: 365.625px;
        height: 146.875px;
        bottom: -73.4375px;
        right: 62.5px;
    }
    .col_become{
        padding:9.375px;
        border-right:0.3125px dotted white;
    }
    .col_become i{
        width: 32.8125px;
        height: 32.8125px;
        font-size: 12.5px;
        border-radius: 16.40625px;
    }
    .text_become{
        width:120.3125px;
    }
    .maintext_become{
        font-size: 10.9375px;
    }
    .content_become{
        font-size: 5.625px;
    }
    .btn_become{
        height: 18.75px;
        width:75px;
        border-radius: 9.375px;
        font-size: 6.25px;
    }
    .section_provides{
        height: 250px;
    }
    .col_provides{
        width:231.25px;
        height: 120.3125px;
    }
    .text_provides{
        font-size: 20.3125px;
    }
    .content_provides{
        font-size: 7.875px;
    }
    .btn_provides{
        width:90.625px;
        height: 18.75px;
        border-radius: 9.375px;
        border: 0.625px solid white;
        font-size: 4.6875px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}