section{
    display:flex;
    flex-direction:column;
}
.section_slide{
    width: 100%;
    height:670px;
    background-image: url("/image/img.jpg") ;
    background-repeat: no-repeat;
    /* position:absolute;
    top:110px; */
    z-index:-1;
}
.col1_section_slide{
    margin-left: 450px;
    margin-top: 245px;
    width: 647px;
    text-align: left;
}
.text1_section_slide{
    font-size: 48px;
    color:aliceblue;
    font-weight: bold;
}
.text2_section_slide{
    color:#b09b5f;
    font-size: 20px;
}
.btn_section_slide{
    font-size:15px;
    color:aliceblue;
    width:265px;
    height:64px;
    border:2px solid #b09b5f;
    border-radius: 32px;
    background-color:transparent;
}
.section_service{
    position:static;
    width: 100%;
    height:500px;
}
.row_section_service{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.col{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
}
.img_top{
    background-image: url("/image/img_service.jpg");
    width: 200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: relative;
}
.icon{
    background-color: aliceblue;
    color: #d6bd74;
    padding: 70px;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width:56px;
    position:absolute;
    bottom: 9px;
    right:9px;
    background-color: #1c2f4d;
    border-radius: 28px;
}
.maintext_center{
    font-size: 25px;
    font-weight: bold;
}
.content_bottom{
    text-align: center;
    font-size: 20px;

}
.section_feature{
    height:800px;
    display: flex;
    flex-direction: column;
    background-image: url("/image/back_feature.jpg");
    background-repeat:no-repeat;
    background-size: 100% 500px;
    background-position: bottom;
}
.col_section_feature , .col_section_recent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon_feature{
    color:#f2f2f2;
    font-size: 60px;
}
.text_feature{
    font-weight: bold;
    font-size: 40px;
}
.content_feature{
    font-size: 20px;
    color:#c4c4c4;
}
.row_section_feature_bottom{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.col_section_feature_card ,.col_section_recent_card{
    background-color: white(245, 245, 245);
    height: 560px;
    width: 370px;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position:relative;
    background-color: white;
    margin-left: 30px;
}
.img_top_feature{
    width:100%;
    height: 300px;
    position: relative;
}
.img_top_feature img{
    width:100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.price_feature{
    font-size: 25px;
    font-weight: bold;
    color:aliceblue;
    border-radius: 15px;
    width: 85px;
    height: 75px;
    background-color: #d7bd73;
    
    position: absolute;
    bottom: 25px;
    right:32px;

    display: flex;
    align-items:center;
    justify-content: center;
}
.content_center_feature{
    margin-left: 50px;
    
}
.icon_start_feature{
    color:#d7bd73;
    font-size:15px;
}
.text_main_card{
    font-size: 25px;
    font-weight: bold;
}.conten_main_card{
    font-size: 15px;
    color:#999999;
}
.icon_start_feature, .text_main_card{
    margin-bottom: 15px;
}
.content_bottom_feature{
    margin-top: 25px;
    height:70px;
    width:100%;
    position:absolute;
    bottom:0px;
    border-top: 1px dashed #999999;

    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

    position: relative;
}
.border_cicrile i{
    position: absolute;
    top: -8px;
    left: 0px;
    color: #999999;
}
.item_card_feature{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding: 20px;

}
.item_card_feature i{
    color:#d7bd73;
    font-size:15px;
    padding:10px;

}
.border_tym{
    border: 2px solid #999999;
    padding: 15px;
    border-radius: 3px;
    color:#939393;
}
.section_transform{
    width:100%;
    height:1270px;
    background-color:#f5f8fa;
}
.row_transform1{
    margin :100px 0px 100px 0px;
}
.row_transform{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.col_transform{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;

}
.transform_category{
    margin:15px;
    height:270px;
    width: 570px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.category_main{
    font-size:45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.category_content{
    font-size:25px;
    color:#939393;
}
.transform_card {
    height:270px;
    width:270px;
    margin:15px;
    position:relative;
}
.col_transform_card{
    position:relative;
    text-align: center;
    height:100%;
    width:100%;
}
.col_transform_card img{
    height:100%;
    width:100%;
}
.transform_card_text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    font-size: 30px;
    color:rgb(12, 115, 250);
}
.transform_lable{
    position:absolute;
    bottom:20px;
    right:20px;

    width:100px;
    height: 30px;
    background-color:#d5bc72;
    color:white;
    font-size:20px;
    border-radius: 4px;
}
.col_trasform_subscrice{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.col_trasform_subscrice i{
    font-size:50px;
    color:#d5bc72;
}
.text_subscrice{
    font-size:40px;
    font-weight:bold;
}
.content_subscrice{
    font-size:25px;
    color:#939393;
}
.form__subscrice{
    position: relative;
}
.input_email{
    width: 745px;
    height: 70px;
    border-radius: 35px;
    border: none;
    text-align: center;
}
.btn_email{
    width: 180px;
    height: 70px;
    position: absolute;
    right:20px;
    bottom:-35px;
    background-color: #d5bc72;
    border-radius: 35px;
    font-size:20px;
    font-weight:bold;
    color:white;
    border:none;
}

.section_preview{
    width:100%;
    height: 650px;
}
.row_preview{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction:row;
}
.col_preview{
    height: 100%;
    width: 50%;
}
.col_preview1{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #1c2f4d;
}
.col_preivew1_main{

    height: 375px;
    width: 530px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    position: relative;
}
.text_preview{
    font-size:30px;
    font-weight:bold;
    color:white;
}
.icon_preview i{
    font-size:40px;
    color:#d7bd73;
}
.content_preview{
    font-size:20px;
    color:#939393;
}
.card_preview{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.card_preview1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.card_preview1 .img_privew img{
    height: 50px;
    width: 50px;
    border-radius:25px;
    margin-right: 20px;
}
.card_preview_content{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.name_priview{
    font-size:20px;
    color:white;
}
.position_priview{
    font-size:20px;
    color:#b09b5f;
}
.card_preview1 img{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-left:10px;
    opacity:0.3;
}
.btn_prev{
    color:#b09b5f;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #b09b5f;
    position: absolute;
    bottom:-90px;
    left:-60px;
    background:none;
    font-size: 15px;

}
.btn_next{
    color:white;
    background:none ;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: none;
    position: absolute;
    bottom:-90px;
    right:-70px;
    font-size: 15px;
}
.col_preview2{
    height: 100%;
    width: 100%;
    background-image: url("/image/img.jpg");
}
.br{
    width: 100%;
    height:100%;
    background-color:black;
    opacity:0.5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.row_item_preview{
    height: 100px;
    width: 500px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.row_item_preview i{
    display:flex;
    align-items:center;
    font-size:80px;
    margin-right: 20px;
    color:#e3c058;
}
.text_row_item_priview1{
    color: white;  
    margin-bottom: 25px;  
}
.text_row_item_priview2{
    color:#939393;
}
.section_recent{
    height:1825px;
    width:100%;
    background-color: #ffffff;
}
.containe_recent{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.row_recent{
    margin-bottom: 50px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}
.col_tab_recent{
    height:70px;
    width:885px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    border-bottom:1px solid #615e5e;
    

    border-radius: 35px;
}

.col_tab_recent a{
    display:flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: bold;
    height:100%;
    margin:0px 25px 0px 25px;
}
.col_tab_recent a i{
    color:#939393;
    font-size:20px;
}
.col_tab_recent a i:hover{
    color:#e3c058;
}
.col_tab_recent a:hover{
    border-bottom:2px solid#e3c058;
}
.btn_recent{
    width:235px;
    height: 66px;
    background-color: #1c2f4d;
    border-radius: 33px;
    font-size: 15px;
    font-weight:bold;
    color:white;
}
.section_become{
    width: 1170px;
    height: 470px;
}
.container_become{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}
.row_become{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    background-color: #d7bd73;
}
.col_become{
    width:50%;
    height:70%;
    padding:30px;
    border-right:1px dotted white;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}
.col_become i{
    width: 105px;
    height: 105px;
    font-size: 40px;
    color:#d7bd73;
    background-color:white;
    border-radius: 52.5px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.text_become{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:385px;
}
.maintext_become{
    font-size: 35px;
    color:white;
    font-weight: bold;
}
.content_become{
    font-size: 18px;
    color:white;
}
.btn_become{
    background-color:#1c2f4d;
    height: 60px;
    width:240px;
    border-radius: 30px;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.section_provides{
    height: 800px;
    width:100%;
    background-image: url("/image/img.jpg");
}
.container_provides,.row_provides{
    height: 100%;
    width:100%;
}
.row_provides{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.col_provides{
    width:740px;
    height: 385px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    text-align:center;
}
.text_provides{
    font-size: 65px;
    color: white;
}
.content_provides{
    color:#c4c4c4;
    font-size: 25px;
}
.btn_provides{
    width:290px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
    font-size: 15px;
    font-weight: bold;
    background:none;
    color: white;
}
.section_footer{
    height:850px;
    width:100%;
}
.container_footer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
   
}
.row_footer{
    width:1170px;
    height:270px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.col_footer1{
    width: 400px;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.text_col_footer1{
    color:black;
    font-size: 35px;
    font-weight: bold;
}
.content_col_footer1{
    color:#615e5e;
    font-size: 20px;
}
.contact_col_footer1{
    display:flex;
    flex-direction:column;
}
.contact{
    display:flex;
    flex-direction:row;
}
.text_contact{
    margin-right: 10px;
    color:#b09b5f;
    font-size: 20px;
    font-weight: bold;
}
.number_contact{
    color:#615e5e;
    font-size: 20px;
}
.text_bottom{
    color:#b09b5f;
    font-size: 20px;}
.col_footer2, .col_footer3{
    width:180px;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.col_footer2{
    list-style-type: circle;
}
.col_footer3, .col_footer4{
    list-style-type: none;
}
.col_footer4{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.text_col_footer2{
    color:black;
    font-size: 30px;
    font-weight: bold;
}
.col_footer2 li a, .col_footer3 li a, .col_footer4 li a{
    color:#615e5e;
    font-size:20px;
    text-decoration: none;
}